.container {
    display: flex;
    margin: auto;
    flex-direction: column;
    max-width: 900px;
    max-height: 900px;
}

.row {
    display: flex;
}

.cell {
    flex: 1;
    aspect-ratio: 1/1;
    min-width: 4px;
    min-height: 4px;
    gap: 1px;
    border: 0.2px solid blue;
    background-color: pink;
}


.newColor {
    background-color: black;
}

#newGrid {
    text-align: center;
}